<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="navigation">
        <a href="{{url_for('index')}}">Home</a>
        <a href="", id="categorytype">Category</a>
         
    </header>
    
    <main class="content">
        <section class="articles">
            <!-- if its category page, then show the 2 buttons else hide -->
            <div class="category_button" style="display: none; margin-bottom: 10px;">
                <!-- <button id="tech" class="active">Technology</button> -->
                <a href="{{url_for('index.filter_category', category='technology')}}" id="tech">Technology</a>
                <!-- <button id="science">Science</button> -->
                <a href="{{url_for('index.filter_category', category='science')}}" id="science">Science</a>
            </div>
            {% for article in articles %}
            <article class="article-preview">
                {% if article['image'] %}
                <div class="article-image">
                    <img src="{{ url_for('index.custom_static', filename=article['image'][0]) }}" alt="Article Image">
                </div>
                {% endif %}
                <div class="article-details">
                    <h2>{{ article["title"] }}</h2>
                    <p>{{ article['abstract'] }}</p>
                    <div class="article-stats">
                        <span class="stat">Published on: {{ article['publishTime'] }}</span>
                        <span class="stat">Views: {{ article['readNum'] }}</span>
                        <span class="stat">Comments: {{ article['commentNum'] }}</span>
                        <span class="stat">Category: {{ article['category'] }}</span>
                        <span class="stat">Author: {{ article['author'] }}</span>

                    </div>
                    
                    <a href="{{ url_for('index.article', aid=article['aid']) }}">Read more</a>
                </div>
            </article>
        {% endfor %}


            <div class="pagination">
                {% if current_page > 1 %}
                    <a href="{{ url_for('index', page=1) }}">First</a>
                    <a href="{{ url_for('index', page=current_page-1) }}">&laquo; Previous</a>
                {% endif %}
            
                <!-- Show first page if it's not in the first three pages -->
                {% if current_page > 3 %}
                    <a href="{{ url_for('index', page=1) }}">1</a>
                    <span>...</span>
                {% endif %}
            
                <!-- Show the two pages before the current page -->
                {% for num in range(current_page-2, current_page) %}
                    {% if num > 1 %}
                        <a href="{{ url_for('index', page=num) }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
            
                <!-- Show the current page -->
                <span class="current-page">{{ current_page }}</span>
            
                <!-- Show the two pages after the current page -->
                {% for num in range(current_page+1, current_page+3) %}
                    {% if num < total_pages %}
                        <a href="{{ url_for('index', page=num) }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
            
                <!-- Show last page if it's not in the last three pages -->
                {% if current_page < total_pages - 2 %}
                    <span>...</span>
                    <a href="{{ url_for('index', page=total_pages) }}">{{ total_pages }}</a>
                {% endif %}
            
                {% if current_page < total_pages %}
                    <a href="{{ url_for('index', page=current_page+1) }}">Next &raquo;</a>
                    <a href="{{ url_for('index', page=total_pages) }}">Last</a>
                {% endif %}
            </div>
            
        </section>
        
        <aside class="sidebar">
            <div class="popular-articles">
                <h3>Popular Articles</h3>
                <h4>Daily</h4>
                {% for article in popular['daily'] %}
                <a href="{{ url_for('index.article', aid=article['aid']) }}" class="article-link">{{ loop.index }}. {{ article['title'] }}</a><br>
                {% endfor %}
                <h4>Weekly</h4>
                {% for article in popular['weekly'] %}
                <a href="{{ url_for('index.article', aid=article['aid']) }}" class="article-link">{{ loop.index }}. {{ article['title'] }}</a><br>
                {% endfor %}
                <h4>Monthly</h4>
                {% for article in popular['monthly'] %}
                <a href="{{ url_for('index.article', aid=article['aid']) }}" class="article-link">{{ loop.index }}. {{ article['title'] }}</a><br>
                {% endfor %}
            </div>
        </aside>
        
    </main>
    <script>
    document.getElementById('categorytype').addEventListener('click', function(event){
        event.preventDefault(); // Prevents the default action of the link
        var categoryDiv = document.querySelector('.category_button');
        categoryDiv.style.display = 'block';

    });
    document.getElementById('tech').addEventListener('click', function(event){
        // event.preventDefault(); // Prevents the default action of the link
        var categoryDiv = document.querySelector('#tech');
        categoryDiv.classList.add("active");
        var categoryDiv = document.querySelector('#science');
        categoryDiv.classList.remove("active");

    });
    document.getElementById('science').addEventListener('click', function(event){
        // event.preventDefault(); // Prevents the default action of the link
        var categoryDiv = document.querySelector('#tech');
        categoryDiv.classList.remove("active");
        var categoryDiv = document.querySelector('#science');
        categoryDiv.classList.add("active");

    });
    </script>
</body>
</html>
